.Myorder a {
    width: 100%;
    text-decoration: none !important;
    color: #000 !important;
}

.myOrdersPage {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    padding: 0 7vmax;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#myOrdersHeading {
    text-align: center;
    font: 400 1.5vmax "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    background-color: rgb(5, 5, 5);
    height: 5vh;
}
.MyorderList{
    width: 100%;
    margin-top: 20px;
}
.Myorders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    font: 400 1.2vmax "Roboto";
    padding: 0 10vmax;
}
.Myorder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    box-sizing: border-box;
    margin: 10px;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    border-radius: 10px;
    padding: 0.5vmax;
    transition: all 0.5s;

}
.Myorder:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.5);
    transform: translateY(-1vmax);
}
#orderId {
    width: 100%;
    background-color: rgb(3, 2, 2);
    color: white;
}
.totalPrice {
    color: red;
}
.myOrderHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font: 400 1.2vmax "Roboto";
    position: sticky;
    top: 20px;
    height: 40px;
    background-color: white;
}
.orderHeading div {
    transition: all 0.5s;
}
.orderHeading div:hover {
    color: tomato;
    transform: translateY(-1vmax);

}
.MyorderProducts {
    display: flex;
    flex-direction: column;
}
.Myproduct {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.Myproduct span {
    display: inline;
    width: 20%;
}

.MyorderProducts img {
    width: 5vmax;
}
@media screen and (max-width: 600px) {
    .myOrdersPage {
    padding: 0;
    height: 93vh;
    }

    #myOrdersHeading {
    font: 600 2.2vmax "Roboto";
    padding: 4vw;
    }
    .Myorder {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .Myproduct{
        display: flex;
        flex-direction: column;

    }
}